/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

* { box-sizing: border-box; }

body {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}